<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>title</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="../main.js"></script>
  <link rel="stylesheet" href="../main.css">

</head>

<body>
  <!-- quick button test -->
  <!-- <p id="demo"> ECE 4760... </p>
  <button type="button" onclick="myFunction()">Press Me</button> -->

  <!-- graph data here -->
  <div id="Graph">
    <h2> Graph </h2>
    <!-- TO DO -->
  </div>

  <!-- text output here -->
  <div id="text-output">
    <h2> Output </h2>
    <!-- TO DO -->
    {% if debug %}
    <text>{{ flask_check }}</text>
    {% endif %}

  </div>

  <!-- user input here -->
  <div id="Inputs">
    <h2> Input </h2>
    <!-- TO DO -->
    <form>

      <ul>
        <li>Sample rate (Hz) <input type="number" id="sample-rate"></input></li>
        <li><button type="button" onclick="parseUserInput()">Update</button></li>
        <li>Enable Power <input type="radio" name="enable" value=1 onclick="turnOnRelay()"></input></li>
        <li>Disable Power<input type="radio" name="enable" value=0 onclick="turnOffRelay()"></input></li>
      </ul>
      </ul>
      </ul>


    </form>
  </div>
</body>

</html>